.titulo{

    color: white;
    font-size:50px;
    font-weight:bold;
    text-align:center;
    font-family: system-ui;
    text-shadow: 2px 2px 20px #ffb0b0;

}

.hr2 {
    height: 10px;
    width: 800px;
    background-color: white;
    border:0;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #ffc6c6;
}
  
.pie{

    box-shadow: 2px 2px 20px #555555;
    background-color: #bf7a5ef4;
    font-family: system-UI;
    border-top: 10px solid #ffffff;
    position: fixed;
    height: 70px;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
  color:#202020;
  font-family: system-ui;
}

a:visited {
  color:#202020;
  font-family: system-ui;
}

body{
  
  background:#faa17e;
  margin:0;
  max-height: 100%;

}

.form{
  
  width:400px;
  height:870px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  margin-top: 50px;
  margin-bottom:100px;
  font-family:'Montserrat',sans-serif;position:relative;

}

h2{

  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c;

}

.input1{

  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2;

}

input:focus{
  border-bottom:2px solid #78788c
}

p:before{

  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a;

}

button{
  
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;color:#5a5a6e;
  cursor:pointer;transition:all .3s;
  border-radius: 8px;

}

button:hover{
  
  background:#78788c;
  color:#fff;
  border-radius: 8px;
  cursor:pointer;transition:all .3s;

}

.enlace1{
  
  content:'Hi';position:absolute;
  bottom:-15px;right:-20px;
  background:#ffffff;
  color:#5a5a5a;
  width:500px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000;
  float:right;
  position: fixed;
  margin-top: -30000px;

}

.sexo {

  margin-top:20px;
  margin-bottom:75px;
  font-family:'Montserrat',sans-serif;position:relative;
  color:#5a5a5a;
  font-size:14px;

}

span{
  margin:0 5px 0 15px;
}

.coment {

  background:#f3f3f3;
  font-family:'Montserrat',sans-serif;
  border-radius:8px;
  box-shadow:0 0 40px -10px #0000002a;
  border:0px;
  margin-top:5px;
  width: 340px;

}

.selector {

  margin-top: 5px;

}

.provincia {

  border-radius: 5px;
  font-family:'Montserrat',sans-serif;
  background:#f3f3f3;
  border: 0;


}