.titulo {

    color: #ffffff;

    text-align: center;

    text-shadow: 2px 2px 20px #0400ff;

}

body {

    background-color: #2c2c2c;

    font-family:Candara;

}

.boton5:hover{

    box-shadow: inset 0 0 20px #0026ff80, 0 0 20px #0026ff80;
    outline-color: #318aac00;
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    font-family: verdana;
    transform: scale(1.1);    
    transition: 0.45s ease;

    cursor: pointer


}

.boton5{
    
    padding: 10px;

    font-weight: bold;

    font-size: 15px;

    color: #000000;

    background-color: #eaeaea;

    border-radius: 15px;
    
    border: 3px solid #8c8c8c;

    margin-bottom:3px;

    position: absolute;

    cursor: pointer;

    bottom:-200px;


}

.texto{

    text-align: center;
    color:white;
    text-shadow: 2px 2px 20px #0400ff;
    font-size: 25px;
    transition: all 0.25s ease 0.25s;

}

.hr1 {
    height: 5px;
    width: 1000px;
    background-color: #2590be;
    border: 0px;
    box-shadow: 2px 2px 20px #0400ff;
  }

.hr2 {
    height: 5px;
    width: 1000px;
    background-color: #2590be;
    border: 0px;
    box-shadow: 2px 2px 20px #0400ff;
  }

.boton {
    color:white;
    font-size: 20px;
}

.total {
    font-size: 40px;
    color: #d2ffca;
    text-shadow: 2px 2px 20px #26ff00;
}

.precio {
    font-size: 40px;
    color: #d1caff;
    text-shadow: 2px 2px 20px #0011ff;
}
.tabla {
    position: absolute;
}


.content-input input, .content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 100px;
}
 
.content-input input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute; 
       left: 0;
       top: 0;
}
 
.content-input input[type=checkbox ] + i{
	width: 55px;
	height: 30px;
	border-radius: 15px;
}

.content-input input[type=checkbox] + i:before{
	content: '';
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 2px 2px 20px #0400ff;
    box-shadow: 2px 2px 20px #0400ff;
    transition: all 0.05s ease 0.05s;
}

.content-input input[type=checkbox]:checked + i:before{
	left: 22px;
	box-shadow: 2px 2px 20px #0400ff;
}
 
.content-input input[type=checkbox]:checked + i{
 background: #172fe1;
}

.content-input input[type=checkbox] + i:after{
	content: 'ON';
	position: absolute;
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	top: 8px;
	left: 4px;
	opacity: 0;
	transition: all 0.05s ease 0.05s;
}
 
.content-input input[type=checkbox]:checked + i:after{
 opacity: 1;
}